.dealer {
    background-color: #007700;
    min-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 5px;
    min-height: 143px;
}

.dealer .status {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}
  
.dealer .dealerCard {
    display: flex;
    justify-content: center;
}
  
.player {
    background-color: #007700;
    min-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 5px;
    min-height: 143px;
}

.player .status {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}
  
.player .playerCard {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 20px;
    height: 100px;
    margin: 10px;
    margin-left: -15px;
    margin-right: -25px;
}

.cardImage {
    height: 100px;
}