body {
    background-color: #003300;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, black 10px, black 20px)
    , repeating-linear-gradient(45deg, transparent, transparent 10px, black 10px, black 20px);
}

.app {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}